<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL9SCNo-ts7UvXlisZPpiD95gSoMlSQdk</string>
	<key>GCM_SENDER_ID</key>
	<string>717226527623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>learning-dart-isaac</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-dart-isaac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717226527623:ios:2e8e88f56dc5620f4c6122</string>
</dict>
</plist>